<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/dashboard.css" />
	<script src="https://use.fontawesome.com/351fa1b003.js"></script>
	<script src="https://use.typekit.net/ytd5pfe.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

    {{{body}}}

</body>
</html>