<sideline></sideline>
<sidepane>
	<!-- TODO: Dynamic Name -->
	<me>{{ user.name }}</me>
	<button id="new" style="font-family:sans-serif;font-weight:auto;">+</button>
	<button id="stats"><i class="fa fa-area-chart" aria-hidden="true"></i></button>
	<button id="notifications"><i class="fa fa-bell" aria-hidden="true"></i></button>
	<button id="alexa"><i class="fa fa-amazon" aria-hidden="true"></i></button>
	<button id="settings"><i class="fa fa-sliders" aria-hidden="true"></i></button>
</sidepane>
<siteslist>
	<list>
		<!-- TODO: Populate with Sites this User is Monitoring -->
		<div id="sites">
			{{#each sites}}
				<monitor data-site="{{ id }}">
					<header>{{ displayName }}</header>
					<button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</monitor>
			{{/each}}
		</div>
		<!-- Template for New Monitor -->
		<monitornew class="remove">
			<header>
				<input id="new-name" type="text" placeholder="example.com" />
			</header>
			<button id="newmonitorbtn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
			<pollingrate>
				<subcaption><input id="pollingrate" name="pollingrate" type="text" placeholder="5" maxlength="5" /><unit>sec</unit> Polling Rate</subcaption>
			</pollingrate>
			<connectiontype>
				<type class="selected">HTTP</type>
				<btn>CANCEL</btn>
			</connectiontype>
		</monitornew>
			
	</list>
</siteslist>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var userID = "{{ user._id }}";
</script>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>