<sideline></sideline>
<splash class="noselect">
	Talos
	<subh>A Joint Concept by Finnian Anderson and Oli Callaghan</subh>
</splash>
<sidepane>
	{{#if user}}
		<header>Welcome back, {{user.name}}</header>
		<a href="/dashboard">dashboard</a>
	{{else}}
		<title class="noselect">Login</title>
		<form method="POST" action="/login">
			<input type="text" placeholder="email" name="email" />
			<input type="password" placeholder="password" name="password" />
			<button type="submit">login</button><a href="/signup">register</a>
		</form>
	{{/if}}
	<p>
		<!-- TODO: Needs Rewriting -->
		Talos is a join concept developed by Oli Callaghan and Finnian Anderson, that monitors the uptime of sites, and is able to alert the monitor when the site goes down. It utilises Docker to create and destroy site health monitors, written in NodeJS, whilst also utilising Docker containers for the storage of user data, serving front-end files, and providing an interface for Alexa to read live updates on site health.
	</p>
	<p>
		<!-- TODO: Needs Rewriting -->
		Full blog posts explaining the design and development process are detailed on our blogs, with links available below.
	</p>
	<a class="blog-link" href='http://fxapi.co.uk'>finnian anderson</a><a class="blog-link" href='http://olicallaghan.com'>oli callaghan</a>
</sidepane>
