/* Styles Specific to Login Page */
sidepane {
  display: block;
  position: absolute;
  overflow: auto;
  top: 30px;
  left: 62px;
  border: 0.5px solid #073B5C;
  background: #fff;
  height: calc(100% - 30.5px);
  width: 100px;
  border-bottom: none;
  box-shadow: 0px 0px 10px #f2f2f2; }
  sidepane me {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    cursor: pointer;
    background: #50758C;
    line-height: 100px;
    text-align: center;
    color: #fff;
    margin-top: 0px;
    font-family: "acumin-pro-condensed";
    font-weight: 100;
    font-size: 18px; }
  sidepane button {
    position: relative;
    width: 100%;
    height: 100px;
    cursor: pointer;
    background: #fff;
    color: #073B5C;
    border: none;
    outline: none;
    margin-top: 0px;
    -webkit-transition: background 0.2s, color 0.2s;
    -ms-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    font-family: "acumin-pro-condensed";
    font-weight: 100;
    font-size: 18px; }
    sidepane button:hover {
      background: #073B5C;
      color: #fff; }

siteslist {
  display: block;
  position: absolute;
  top: 0px;
  left: 191.5px;
  width: calc(100vw -  191.5px);
  height: 100vh;
  overflow-y: auto; }
  siteslist list {
    display: block;
    position: absolute;
    top: 130.5px;
    left: 0px;
    width: calc(100% - 30px); }
    siteslist list monitor, siteslist list monitornew {
      display: block;
      position: relative;
      left: 0px;
      right: 0px;
      height: 100px;
      width: 100%;
      background: #fff;
      box-shadow: inset 0 0 0 1px #f2f2f2, 0 0 5px #f2f2f2;
      -webkit-transition: box-shadow 0.2s;
      -ms-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      -o-transition: box-shadow 0.2s;
      transition: box-shadow 0.2s;
      cursor: pointer;
      margin-bottom: 30px; }
      siteslist list monitor:hover, siteslist list monitornew:hover {
        box-shadow: inset 0 0 0 1px #073B5C, 0 0 5px #f2f2f2; }
      siteslist list monitor header, siteslist list monitornew header {
        display: block;
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 0px;
        overflow-x: auto;
        height: 100%;
        font-family: "acumin-pro-condensed";
        font-weight: 100;
        font-size: 24px;
        line-height: 100px;
        color: #073B5C;
        padding-left: 30px; }
      siteslist list monitor button, siteslist list monitornew button {
        position: absolute;
        width: 100px;
        height: 100px;
        cursor: pointer;
        right: 0px;
        top: 0px;
        background: rgba(255, 255, 255, 0);
        color: #073B5C;
        border: none;
        outline: none;
        margin-top: 0px;
        -webkit-transition: background 0.2s, color 0.2s;
        -ms-transition: background 0.2s, color 0.2s;
        -moz-transition: background 0.2s, color 0.2s;
        -o-transition: background 0.2s, color 0.2s;
        transition: background 0.2s, color 0.2s;
        font-size: 24px; }
        siteslist list monitor button:hover, siteslist list monitornew button:hover {
          background: #073B5C;
          color: #fff; }
    siteslist list monitor {
      overflow: hidden;
      -webkit-transition: height 0.5s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.2s, margin-bottom 0.2s, margin-top 0.5s ease-in-out;
      -ms-transition: height 0.5s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.2s, margin-bottom 0.2s, margin-top 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.2s, margin-bottom 0.2s, margin-top 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.2s, margin-bottom 0.2s, margin-top 0.5s ease-in-out;
      transition: height 0.5s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.2s, margin-bottom 0.2s, margin-top 0.5s ease-in-out; }
      siteslist list monitor.remove {
        margin-top: -200px;
        opacity: 0;
        margin-bottom: 0; }
      siteslist list monitor.extend {
        height: 200px;
        box-shadow: inset 0 0 0 1px #073B5C, 0 0 5px #f2f2f2; }
      siteslist list monitor header {
        width: calc(100% - 160px);
        padding-right: 30px; }
      siteslist list monitor button {
        font-family: "acumin-pro-condensed";
        font-weight: 100; }
        siteslist list monitor button#remove {
          top: 100px;
          background: #073B5C;
          color: #fff; }
        siteslist list monitor button#remove:hover {
          color: #073B5C;
          background: #fff;
          box-shadow: inset 0 0 0 1px #073B5C; }
        siteslist list monitor button i {
          -webkit-transition: -webkit-transform 0.2s ease-in-out;
          -ms-transition: -webkit-transform 0.2s ease-in-out;
          -moz-transition: -webkit-transform 0.2s ease-in-out;
          -o-transition: -webkit-transform 0.2s ease-in-out;
          transition: -webkit-transform 0.2s ease-in-out; }
        siteslist list monitor button.selected {
          background: #073B5C;
          color: #fff; }
          siteslist list monitor button.selected i {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg); }
    siteslist list monitornew {
      visibility: hidden;
      cursor: default;
      height: 150px;
      box-shadow: inset 0 0 0 1px #073B5C, 0 0 5px #f2f2f2;
      opacity: 1;
      overflow: hidden;
      margin-top: 0;
      -webkit-transition: margin-top 0.5s ease-in-out, opacity 0.2s, margin-bottom 0.2s;
      -ms-transition: margin-top 0.5s ease-in-out, opacity 0.2s, margin-bottom 0.2s;
      -moz-transition: margin-top 0.5s ease-in-out, opacity 0.2s, margin-bottom 0.2s;
      -o-transition: margin-top 0.5s ease-in-out, opacity 0.2s, margin-bottom 0.2s;
      transition: margin-top 0.5s ease-in-out, opacity 0.2s, margin-bottom 0.2s; }
      siteslist list monitornew.remove {
        margin-top: -150px;
        opacity: 0;
        margin-bottom: 0; }
      siteslist list monitornew input {
        display: block;
        position: absolute;
        top: 0;
        width: calc(100% - 160px);
        left: 0px;
        padding: 0px;
        margin: 0px;
        outline: none;
        border: none;
        height: 100px;
        box-shadow: inset 0 0 0 1px #073B5C, 0 0 5px #f2f2f2;
        padding-left: 30px;
        padding-right: 30px;
        font-family: "acumin-pro-condensed";
        font-weight: 100;
        font-size: 24px; }
      siteslist list monitornew button {
        background: #073B5C;
        color: #fff;
        -webkit-transition: background 0.2s, color 0.2s;
        -ms-transition: background 0.2s, color 0.2s;
        -moz-transition: background 0.2s, color 0.2s;
        -o-transition: background 0.2s, color 0.2s;
        transition: background 0.2s, color 0.2s; }
        siteslist list monitornew button:hover {
          background: rgba(255, 255, 255, 0);
          color: #073B5C; }
      siteslist list monitornew pollingrate {
        position: absolute;
        display: block;
        left: 0px;
        bottom: 0;
        height: 50px;
        width: 100%; }
        siteslist list monitornew pollingrate subcaption {
          display: block;
          position: absolute;
          bottom: 0px;
          right: 0;
          padding-right: 17px;
          font-family: "acumin-pro-condensed";
          font-weight: 300;
          line-height: 50px;
          height: 50px;
          font-size: 18px;
          border-top: 1px solid #444;
          border-left: 1px solid #444; }
          siteslist list monitornew pollingrate subcaption input {
            background: none;
            outline: none;
            border: none;
            box-shadow: none;
            text-align: right;
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-family: "acumin-pro-condensed";
            position: relative;
            float: left;
            padding-right: 3px;
            line-height: 50px;
            height: 50px;
            width: 50px;
            font-weight: 100; }
          siteslist list monitornew pollingrate subcaption unit {
            display: inline-block;
            font-weight: 100;
            cursor: text; }
      siteslist list monitornew connectionapi {
        display: block;
        position: absolute;
        top: 100px;
        height: 100px;
        line-height: 100px;
        width: calc(100% - 60px);
        padding-left: 30px;
        padding-right: 30px;
        overflow-x: auto;
        font-family: "source-code-pro";
        font-weight: 300; }
      siteslist list monitornew connectiontype {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 50px;
        width: 300px; }
        siteslist list monitornew connectiontype type, siteslist list monitornew connectiontype btn {
          display: block;
          float: left;
          position: relative;
          height: 100%;
          width: 100px;
          text-align: center;
          color: #073B5C;
          line-height: 50px;
          cursor: pointer;
          background: rgba(255, 255, 255, 0);
          -webkit-transition: background 0.2s, color 0.2s;
          -ms-transition: background 0.2s, color 0.2s;
          -moz-transition: background 0.2s, color 0.2s;
          -o-transition: background 0.2s, color 0.2s;
          transition: background 0.2s, color 0.2s; }
          siteslist list monitornew connectiontype type:hover, siteslist list monitornew connectiontype btn:hover {
            background: #073B5C;
            color: #fff; }
          siteslist list monitornew connectiontype type.selected, siteslist list monitornew connectiontype btn.selected {
            background: #073B5C;
            color: #fff; }

/*# sourceMappingURL=dashboard.css.map */
