/* Common Styles */

@import "_mixins";

body {
	background: #fff;
	font-family: "acumin-pro-condensed";
	color: #073B5C;
	overflow: hidden;
}

sideline {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 100%;
	border-right: 0.5px solid #073B5C;
	background: #50758C;
	overflow: hidden;
	@include prefix(transition, width 0.5s ease-in-out 0.1s);

	&.inactive {
		width: 363.5px;
	}

	/* Tried to keep it but I think it has to go sorry :( */
	/*
		&:not(.inactive):hover {
			width: 35px;
		}
	*/

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	// stop ugly autofill colour
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
